*{
    outline: none !important;
}

a {
    outline: none !important;
}

.chosen-container-single .chosen-single {
    border-radius: 3px;
    line-height: 32px;
    border: 1px solid #e5e6e7;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.chosen-container-single .chosen-single div {
    right: 7px;
}

.chosen-container{
    margin: 0 0 4px 0px;


}


.chosen-rtl.chosen-container-single .chosen-single div b {

    background-position: 6px 5px;
}

a
.input-group-addon {
    border: 1px solid #e5e6e7 !important;
    border-radius: 0 !important;
}

.paging_simple_numbers {
    text-align: left
}

.search_form {
    margin-top: 30px;
}

td.center > a {
    margin: 0 6px;
}

.panel-footer {
    overflow: hidden;
}

.media_rows {
}

.media_rows .media_row {
    border: 1px solid #dddddd;
    border-radius: 2px;
    float: left;
    height: 127px;
    margin: 4px 5px;
    padding: 3px;
    position: relative;
    width: 141px;
}

.media_rows .media_row img {
    height: 100%;
    width: 100%;
}

.media_rows .media_row .media_row_delete {
    background: none repeat scroll 0 0 #fff;
    color: #dadada;
    right: 2px;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 0 #000000;
    width: 19px;
    height: 19px;
}

.media_row label {
    background: none repeat scroll 0 0 #555555;
    color: #ccc;
    float: left;
    height: 43px;
    margin-top: -43px;
    opacity: 0.81;
    overflow: hidden;
    padding: 0 3px;
    width: 100%;
    word-wrap: break-word;
}

.img-rounded {
    width: 50px !important;
}

.img-circle {
    width: 35%
}

.profile-element {
    text-align: center
}

.arrow {
    float: right;
}

.input-group-addon {
    border: 1px solid #e5e6e7 !important;
    border-radius: 0 !important;
}

.paging_simple_numbers {
    text-align: left
}

.search_form {
    margin-top: 30px;
}

td.center > a {
    margin: 0 6px;
}

.panel-footer {
    overflow: hidden;
}

.add-media {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0;
}

.change-post-media {
    float: left;
    left: 10px;
    position: relative;
    top: 30px;
    background: #f3f3f3;
    border: 1px solid #ccc;
    cursor: pointer;
}

.change-post-image {
    float: left;
    left: 10px;
    position: relative;
    top: 30px;
    background: #f3f3f3;
    border: 1px solid #ccc;
    cursor: pointer;
}

.change-post-image:hover, .change-post-image:visited{
    background: #fff;
    color: #5e5e5e !important;
}

.change-post-media:hover, .change-post-media:visited{
    background: #fff;
    color: #5e5e5e !important;
}


.media_del {
    color: #adadad;
    left: 5px;
    position: absolute;
}

.tree-views {
    list-style: outside none none;
    padding-left: 0;
    height: 187px;
    overflow-y: scroll;
}

.tree-view, .tree-views ul {
    list-style: none;
    display: none;
}

.tree-row {
    background: #fbfbfb none repeat scroll 0 0;
    margin: 1px 0;
    padding: 4px 0;
}


.expand {
    background: #e0e0e0 none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    float: left;
    font-size: 20px;
    font-weight: bold;
    height: 22px;
    width: 22px;
    line-height: 12px;
    padding: 2px;
    text-align: center;
    text-decoration: none !important;
    color: #9b9b9b
}

.switch-row {
    line-height: 27px;
    margin-bottom: 5px;
    overflow: hidden;
}

.switch-row label {
    padding: 0;
    cursor: pointer;
}

.navbar-top-links li {
    margin: 0 2px;
    border: none !important;
}

.navbar-top-links li.active {
    background: transparent;
    border: none
}

.navbar-top-links > li.active > a {
    color: #a0a0a0;
}

.navbar-form-custom {
    margin: 0;
}

.text-left.ltr {
    direction: ltr;
}

.panel-heading i {
    margin: 0 5px;
}

.nav-tabs li.active a {
    background: #f3f3f3;
}

.wpseosnippet {
    background: #f5f5f5 none repeat scroll 0 0;
    border-right: 6px solid #ddd;
    padding: 7px;
}

.wpseosnippet .title {
    overflow: hidden;
    width: 512px;
    color: #1E0FBE;
    font-size: 18px !important;
    line-height: 1.2;
    text-overflow: ellipsis;
}

.wpseosnippet .url {
    color: #006621;
    font-size: 13px;
    line-height: 16px;
}

.wpseosnippet .desc {
    font-size: small;
    line-height: 1.4;
    word-wrap: break-word;
}

.good {
    color: #008000;
}

.good, .warn, .wrong {
    font-weight: 700;
}

.wrong {
    color: #F00;
}

table.wpseoanalysis td.score {
    width: 20px;
    height: 18px;
    padding-left: 10px;
}

.wpseo-score-icon.bad {
    background-color: #DD3D36;
}

.wpseo-score-icon.ok {
    background-color: #FFBA00;
}

.wpseo-score-icon.good {
    background-color: #7AD03A;
}

.wpseo-score-icon.poor {
    background-color: #EE7C1B;
}

.wpseo-score-icon.noindex {
    background-color: #1E8CBE;
}

.wpseo-score-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 3px 10px 0px 3px;
    background: #888 none repeat scroll 0% 0%;
    vertical-align: top;
    border-radius: 50%;
}

.wpseo_msg {

    padding: 0px 5px;
}

.form-table td p {
    margin: 0 !important;
}

#overlay {
    position: fixed;
    opacity: 0.5;
    z-index: 1100;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: none;
}

#loading {

    position: fixed;

    top: 50%;
    left: 50%;
    z-index: 1100;
}

.nav-tabs > li {

    margin-right: 5px;
    margin-left: 5px;
}

.file-box {
    height: 198px;
}

.input-group.date.datepick {
    float: left;
    margin-right: 3px;
    width: 140px;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 7px;
}

.phpdebugbar * {
    direction: ltr;
}

.dropdown-menu {
    position: absolute;
    top: 66px;
    margin-top: 0px;
    padding: 0px;

}

.nav-header .dropdown-menu:after, .navbar .dropdown-menu:after {
    content: '';
    display: block;
    position: absolute;
    left: 15px;
    bottom: 100%;
    width: 0;
    height: 0;
    border-bottom: 10px solid #ccc;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.dropdown-messages {
    top: 62px;
}

.dropdown-menu .divider {
    margin: 0px;
}

.dropdown-menu li a.active {
    background: #eeeeee;
}

#toast-container > .toast-success {
    background-image: none !important;
    background: #1ab394 !important;
}

.toast-success:before {
    content: "" !important;
}


.input-group-addon i {
    min-width:20px
}

.action-box select{
    width:72%;
}

.action-box button{
    width:27%;
}


select {
    margin: 0 0 4px 0px;
}

.profile-element .dropdown-menu{
    top: 110px;
}

.profile-element .dropdown-menu:after{
    left: 67px;
}

.profile-element .dropdown-toggle{
    top: 5px;
    position: relative;
}

.well {

    background-color: #f3f3f3;
   }


.navbar-right{
    float: right;
}

.close{
    line-height: 16px;
}

.forign-box{
    direction: ltr;
    text-align: left;
}

.switch-row label{
    width: 60% !important;
    float: left;
}

.switch-row div{
    width: 35% !important;
    text-align: right;
    float: right;
}

.remove-item {
    position: relative;
    top: -32px;
    left: -12px
}


.ibox-content .table-responsive{
    margin: 35px 0 !important;
}

.ibox-content .table-responsive th{
    font-size: 14px;
}

body.dark-theme{
    background: #2b2b2b;
}

.dark-theme .navy-bg{
    background-color: #1e8cbe;
}

.dark-theme #side-menu{
    background: #2b2b2b;
}

.dark-theme #side-menu   li.active, .dark-theme  #side-menu li a:hover {
    background: #3e3e3e ;
    border-color: #1e8cbe;
}

.dark-theme .text-navy{
    color: #1e8cbe;
}

.dark-theme .btn-primary{
    background: #1e8cbe;
    border-color:#1e8cbe;
}

.dark-theme .badge-primary{
    background: #1e8cbe;
}

.dark-theme .chosen-container-active.chosen-with-drop .chosen-single{
    border-color: #1e8cbe;
}

.dark-theme .chosen-container-single .chosen-search input{
    border-color: #1e8cbe;
}

.dark-theme .chosen-container .chosen-results li.highlighted{
    background: #1e8cbe;
}

.dark-theme .chosen-rtl.chosen-container-single-nosearch .chosen-search, .chosen-rtl .chosen-drop{
    border: none;
    box-shadow: 0px 1px 2px #1e8cbe;
    border: 1px solid #1e8cbe;
}

.dark-theme.mini-navbar .nav-header{
    background: #1e8cbe;
}

.dark-theme .progress-bar{
    background: #1e8cbe;
}

.dark-theme .pace .pace-progress {
    background: #1e8cbe;
}

.dark-theme input.form-control:focus, .dark-theme textarea.form-control:focus {
    border-color: #1e8cbe !important;
}

.dark-theme .icheckbox_square-green {
    background-image: url(plugins/iCheck/blue.png) !important;
}

.dark-theme .iradio_square-green {
    background-image: url(plugins/iCheck/blue.png) !important;
}


.dark-theme .nav-header .dropdown-menu li a:hover{
    color:#fff !important;
}

.dark-theme .nav-header .dropdown-menu li.active{
    background: none !important;
}

.dark-theme .nav-header{
    background: url("patterns/header-profile-dark.png") no-repeat !important;
}

.dark-theme .btn[disabled]{
    background: #699cb3;
}

.dark-theme .label-primary, .dark-theme .badge-primary {
    background-color: #1e8cbe;
}


.loadingWrapper{
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;

}

.bodyWrapper{
    display: none;
}

/*
XS
*/

@media (max-width: 768px) {
    .option-tabs {
        bottom: -21px;
    }
}

/*
SM
*/

@media (min-width: 768px) {

    .option-tabs {
        bottom: -60px;
    }

}



/*
MD
*/

@media (min-width: 992px) {

    .option-tabs {
        bottom: -60px;
    }

}


/*
LG
*/

@media (min-width: 1200px) {

    .option-tabs {
        bottom: -55px;
    }

}


.fa.arrow{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

#side-menu li.active .fa.arrow{
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.container-fluid{
    margin: 10px 0 15px 0;
}


/*
    Top menu
*/




.header-nav {

}

.header-nav  .navbar-default{
    width: 100%;
    height: 55px !important;
}

.header-nav  #side-menu li{
    width: auto;
    float: left;
    height: 100%;
}

.header-nav  #side-menu li.active {

}
.header-nav  #side-menu li a {
    height: 100%;
    line-height: 26px;
}

.header-nav  #side-menu li.lev-3{
    width:100%
}

.header-nav  #side-menu li a .arrow {
    margin:7px;
}

.header-nav #page-wrapper{
    margin: 0px;
}

.header-nav .main-nav  li.active {
    border-right: none;
    border-left: none;
    border-bottom: 3px solid;
    height: 46px;
}

.header-nav  .profile-element img{
    float: left;
    width: 36px;
    margin: 10px 3px;
}

.header-nav  .nav-header {
    float: right !important;
    position: initial;
    padding: 0;
    width:170px !important;
}

.header-nav  .nav-second-level{
    display: none
}

.header-nav  .nav-second-level.in
{
    display: block;
}

.header-nav  .nav-second-level {
    background: #000;
    border-radius: 0 0 3px 3px;
}

.header-nav  #side-menu .nav-header a{
    line-height:12px;
}

.header-nav  .profile-element .dropdown-menu {
    top: 55px;
}

.header-nav  .nav-header .block{
    margin-top: 7px;
}

.header-nav  .nav-second-level li.lev-3 a{
    padding: 11px;
}

.header-nav  .nav-second-level {
    position: absolute;
    width: 200px;
}

.header-nav #side-menu{
    position: fixed;
    width:100%;
}

.header-nav .wrapper-content{
    height: 100%;
}
