

/* EXTRA */

.media_row input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    height: 43px;
    width: 132px;
}

li.media_row {
    list-style: none;
    float: right;
    display: block;
}

.media_row > div {
    background: none repeat scroll 0 0 #fff;
    position: absolute;
    width: 16px;
    cursor: move
}

.galleries-home {
    border-radius: 0 4px 4px 0;
    display: inline-block;
    float: right;
    font-size: 23px;
    height: 34px;
    padding: 0;
    text-align: center;
    width: 31px;
}

.galleries-create {
    border-radius: 0px;
    display: inline-block;
    float: right;
    font-size: 23px;
    height: 34px;
    padding: 0;
    text-align: center;
    width: 31px;
}

.gallery_row {
    margin: 3px 0;
}

.galleries-home i, .galleries-create i {
    font-size: 20px;
    margin-top: 5px;
}
div[data-size=free]{
    display: none;
}

.filter-bar a i {
    margin-top: 8px;
}

.row > label {
    font-weight: normal;
}

#media-editor {
    height: 473px;
    overflow: scroll;
    display: none;

}

.media-setting-panel {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 1px 1px 7px #d0d0d0;
    left: 101px;
    padding: 6px;
    position: relative;
    top: 7px;
    z-index: 9999;
}

.media-setting-panel:hover{
    opacity: 0.9;
}

.watermark-check .switcher {
    margin-left: 6px;
    margin-top: 13px;
    position: relative;
    top: 7px;
}

.panel-arrow-wrapper{
    overflow: hidden;
}


.cropped_images {
    border: 3px solid #f2f2f2;
    border-radius: 7px;
    height: 147px;
    margin: 6px 0;
    overflow-y: scroll;
    padding: 5px;
}

.size-row {
    background: none repeat scroll 0 0 #e3e3e3;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 0 5px;
    padding: 6px;
    cursor: pointer
}

.size-row.active {
    background: none repeat scroll 0 0 #484848;
    color: #fff;
}
.media-editor-image {
    direction: ltr;
    height: 455px;
    text-align: center;
    width: 719px;
}


.gallery_ctrls a {
    font-size: 15px;
    margin: 0 0 0 10px;
}

.gallery_ctrls {
    position: relative;
    top: 8px;
    display: none;
}

.gallery_row.active .gallery_ctrls{
    display: inline;
}

.no-galleries {
    background: #f3f3f3 none repeat scroll 0 0;
    font-weight: bold;
    padding: 26px 0;
    position: relative;
}


.file_manager {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: -1px 2px 5px #aeaeae;
    display: none;
    height: 90%;
    margin: 2%;
    min-height: 90%;
    position: fixed;
    width: 96%;
    z-index: 2040;
}

.file_manager_header {
    border-bottom: 1px solid #eee;
    height: 50px;
    width: 100%;
}
.file_manager_tabs {
    padding: 0 80px !important;
    position: relative;
    top: 9px;
    width: 100%;
}
.file_manager_content {
    display: block;
    float: left;
    /*height: 680px;*/
    width: 100%;
}

/*
using media queries
*/



.file_manager_content {
    height: 84%;
}


/*
@media all and (min-width: 1920px) {

    .file_manager_content {
        height: 717px !important;
    }

}



@media all and (min-width: 1360px) and (max-width: 1919px) {

    .file_manager_content {
        height: 520px !important;
    }

}


@media all and (min-width: 1024px) and (max-width: 1359px) {

    .file_manager_content {
        height: 85%;
    }

}
*/

.file_manager_footer {
    background: #f9f9f9 none repeat scroll 0 0;
    border-top: 1px solid #eee;
    bottom: 0;
    float: left;
    height: 60px;
    margin: 0;
    padding-top: 13px;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 9999;
}
.file_manager_close {
    cursor: pointer;
    font-size: 18px;
    left: 11px;
    position: absolute;
    top: 11px;
}
.file_manager iframe {
    border: 0 none;
}
.dz-thumbnail > img {
    max-width: 133px;
}
.cinema {
    background: #000000 none repeat scroll 0 0;
    display: none;
    height: 100%;
    opacity: 0.4;
    position: fixed;
    width: 100%;
    z-index: 1060;
}
.dz-error:hover .dz-error-message, .dz-success .dz-success-mark {
    display: none;
}
.media-grid-wrapper {
    height: 100%;
    overflow-y: scroll;
    padding: 0;
    width: 69%;
}
.media-grid {
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.search_bar {
    background: #f3f3f3 none repeat scroll 0 0;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 1px 1px #c8c8c8;
    float: left;
    height: 48px;
    padding: 5px 4px;
    width: 100%;
}
.dz-preview {
    border: 1px solid #ddd;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    float: right;
    margin: 14px 0 0 16px;
    padding: 3px 0;
    position: relative;
    vertical-align: top;
    width: 151px;
}
.dz-preview.active {
    border: 3px solid #1e8cbe;
    padding: 1px;
}
#library-area {
    background: #f1f1f1 none repeat scroll 0 0;
    float: left;
    height: 100%;
    width: 100%;
}
.media-grid-wrapper {
    background: #fff none repeat scroll 0 0;
}
.modal-dialog {
    z-index: 2147483647;
}
.upload_errors {
    display: block;
    height: 100px;
}
.right-mark {
    display: none;
}
.dz-preview .right-mark {
    display: none;
}
.dz-preview.active .right-mark {
    background: #1e8cbe none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    float: left !important;
    left: -11px;
    padding: 4px;
    position: absolute;
    top: -11px;
    z-index: 17;
}
.dropzone-box {
    background: #f7f7f4 none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    height: 450px;
    min-height: 284px;
    padding: 0 15px 15px 0;
    position: relative;
    transition: all 0.2s ease 0s;
    vertical-align: middle;
    width: 100%;
}
.details-box-image img {
    width: 100%;
}
.details-box-name .file_name {
    direction: ltr;
    font-family: tahoma;
    font-weight: bold;
    text-align: left;
}
.details-box-name .file_date {
    direction: ltr;
    font-family: tahoma;
    text-align: left;
}
.details-box-name .file_size {
    direction: ltr;
    font-family: tahoma;
    text-align: left;
}
.details-box-name .file_duraton {
    direction: ltr;
    font-family: tahoma;
    text-align: left;
}
.non-editable .media-grid-wrapper {
    box-shadow: 0 -1px 2px inset;
    height: 100%;
    width: 100%;
}
.non-editable .media-form-wrapper {
    display: none;
}
.media-form {
    margin-top: 7px;
}
.vid {
    color: #ffffff;
    font-size: 43px !important;
    left: 53px;
    opacity: 0.72;
    position: absolute;
    top: 48px;
}
#upload-area {
    padding: 75px 0;
}
.upload-area-list {
    margin-right: 66px;
}
.search-area-list {
    float: left !important;
    margin: -8px 25px 0 52px !important;
    width: 300px;
}
.filter-bar {
    float: right;
    width: 4%;
}
.filter-bar a {
    color: #848484;
    display: block;
    font-size: 19px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 100%;
}
.filter-bar a.active {
    background: #fff none repeat scroll 0 0;
}
.non-editable {
    float: left;
    height: 100%;
    width: 96%;
}
.media_loader {
    display: none;
    position: relative;
    right: 158px;
    top: 10px;
}
.mediaform {
    height: 430px;
}
.gallery_rows {
    height: 500px;
    margin: 11px 6px;
}
.gallery_row {
    background: #f3f3f3 none repeat scroll 0 0;
    border: 0 solid #e0e0e0 !important;
    border-radius: 5px;
    cursor: pointer;
    height: 83px;
    overflow: hidden;
    padding: 7px;
}
.gallery_row.active {
    background: #5d5d5d none repeat scroll 0 0;
    border: 1px solid #a9a9a9;
}
.gallery_row.active * {
    color: #f1f1f1 !important;
}
.gallery_row .gallery_image {
    float: left;
    width: 33%;
}
.gallery_row .gallery_image img {
    height: 64px;
    width: 64px;
}
.gallery_row .gallery_details {
    float: right;
    padding-left: 4px;
    width: 92%;
}
.gallery_row .gallery_details .gallery_details_name {
    color: #6e6e6e;
    font-weight: bold;
}

#galleries-sidebar {
    height: 423px;
    padding-right: 16px;
    width: 304px;
}

#galleries-content {
    max-height: 420px;
    min-height: 420px;
    overflow-y: scroll;
}

.gallery_row .gallery_details .gallery_details_count {
    color: #8c8c8c;
}

.search_galleries {
    margin-bottom: 6px;
    margin-right: 16px;
    margin-top: 6px;
    width: 288px;
}
.gallery-ctrl-bar {
    margin-bottom: 9px;
    margin-top: 7px;
    overflow: hidden;
    padding: 0 9px 0 16px;
}
.gallery_name {
    line-height: 28px;
    margin-right: 8px;
}
.media-grid-wrapper.dragdrop {
    background: #000 none repeat scroll 0 0;
    opacity: 0.13;
}
.media_rows.dragdrop {
    background: #000 none repeat scroll 0 0;
    opacity: 0.13;
}
.dz-browser-not-supported.dropzone-box {
    border: medium none !important;
    border-radius: 0 !important;
    cursor: default !important;
    min-height: auto !important;
    padding: 0 !important;
    transition: none 0s ease 0s ;
    width: auto !important;
}
.dropzone-box {
    border: 3px dashed #ddd;
    border-radius: 3px;
    cursor: pointer;
    min-height: 284px;
    padding: 0 15px 15px 0;
    position: relative;
    transition: all 0.2s ease 0s;
    vertical-align: middle;
    width: 100%;
}
.dz-default.dz-message {
    color: #555;
    display: block;
    font-size: 20px;
    font-weight: 600;
    left: 50%;
    line-height: 22px;
    margin-left: -150px;
    margin-top: -35px;
    min-height: 70px;
    padding-left: 90px;
    padding-top: 12px;
    position: absolute;
    top: 50%;
    transition: all 0.2s ease 0s;
    width: 300px;
}

.dz-thumbnail > img {
    max-height: 120px;
    opacity: 0.6;
}

.dz-preview.active  img{
    opacity: 1;
}

.dz-text-small {
    font-size: 14px;
    font-weight: 400;
}
.dropzone-box .fa.fa-cloud-upload {
    background: #eee none repeat scroll 0 0;
    border-radius: 2px;
    color: #aaa;
    display: block;
    font-size: 32px;
    height: 70px;
    left: 0;
    line-height: 70px;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.2s ease 0s;
    width: 70px;
}
.dropzone-box:hover .fa.fa-cloud-upload {
    color: #fff;
}
.dz-started .dz-default.dz-message {
    display: none;
}
.dz-started:hover .fa.fa-cloud-upload {
    background: #eee none repeat scroll 0 0 !important;
    color: #aaa !important;
}
.dz-filename {
    color: #555;
    overflow: hidden;
    padding-bottom: 2px;
}
.dz-size {
    padding-bottom: 8px;
}
.dz-thumbnail {
    display: table-cell;
    height: 120px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 172px;
}
.dz-thumbnail > img {
    max-height: 120px;
}
.dz-preview .progess-bar, .dz-preview .progress {
    height: 8px;
}
.dz-preview .progress {
    margin: 8px 0 0;
}
.dz-size {
    color: #aaa;
    font-size: 11px;
    font-style: italic;
}
.dz-size span {
    font-weight: 600;
}
.dz-remove {
    border-bottom: 1px solid transparent;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top: 1px solid #ddd;
    color: #666;
    display: block;
    font-size: 10px;
    font-weight: 600;
    line-height: 30px;
    margin: 8px -11px -11px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.1s ease 0s;
}
.dz-remove:hover {
    background: #e66454 none repeat scroll 0 0;
    border-top-color: transparent;
    color: #fff;
    text-decoration: none;
}
.dz-thumbnail-wrapper {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #f2f2f2 none repeat scroll 0 0;
    border-color: #ddd;
    border-image: none;
    border-style: solid none;
    border-width: 1px medium;
    margin: 0;
    padding: 0;
    position: relative;
}
.dz-nopreview {
    color: #888;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}
.dz-thumbnail img[src] + .dz-nopreview {
    display: none;
}
.dz-error-mark, .dz-error-message, .dz-success-mark {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: -1px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1) inset;
    display: none;
    left: -1px;
    position: absolute;
    right: -1px;
    text-align: center;
    top: -1px;
    transition: all 0.1s ease 0s;
}
.dz-error-mark .fa, .dz-success-mark .fa {
    font-size: 50px;
    font-weight: 400;
    line-height: 140px;
}
.dz-error-mark .fa {
    color: #fa6b59;
}
.dz-success-mark .fa {
    color: #9ed441;
}
.dz-error-message {
    color: #fff;
    font-weight: 600;
    padding: 20px 10px 0;
}
.dz-error .dz-error-mark {
    display: block;
}
.dz-error .dz-error-message, .dz-error:hover .dz-error-mark {
    display: none;
}
.dz-error:hover .dz-error-message, .dz-success .dz-success-mark {
    display: block;
}
.details-box-image img {
    width: 116px !important;
}


.add-to-album{
    float: left;
    margin-right: 30px
}

.media-grid-wrapper {
    overflow-x: hidden;
}